.contact-list {
  margin-bottom: 26px;
  h2{
    margin: 29px 0;
    font-family: Exo2;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    color: #000000;
    .sm-block({
      display: none;
    });
    .xs-block({
      margin: 10px 0;
    });
  }
  &-main {
    display: flex;
    justify-content: space-between;

    // flex-direction: row-reverse;
    .md-block({
      flex-direction: column-reverse;

    });
    .sm-block({
      flex-direction: column-reverse;
      overflow-y: hidden;
    });
    .text-vacancies{
      font-family: Exo2;
      // width: 100%;
      input[type=text]{
        // width: 90%;
        border-radius: 2px;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid #d7dee3;
        height: 34px;
        padding: 0 12px;
        font-family: Exo2;
        font-size: 14px;
        line-height: 15px;
        // width: 100%;
      }
      input[type=submit]{
        cursor: pointer;
        border: none;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Exo2;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: #fff;
        background-color: #c21f13;
        font-size: 13px;
        padding: 6px 18px;
        margin-left: 20px;

      }
    }
    .contact-list-blocks {
      // display: none;
      // max-width: 700px;
      width: 100%;
      box-sizing: border-box;
      // flex-basis: 700px;
      background: #FFFFFF;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
      border-radius: 7px;
      padding: 20px;
      .list-item {
        font-family: Exo2;
        margin-top: 16px;
        .list-item-text {
          font-style: normal;
          color: #000000 !important;
          font-weight: bold;
          display: flex;
          justify-content: space-between;
          margin-bottom: 12px;
          p {
            font-size: 14px;
            position: relative;
            margin-left: 21px;
            span{
              font-weight: normal;
            }
            &::before{
              content: '';
              background-image: url('../img/position.svg');
              background-repeat: no-repeat;
              display: block;
              width: 10px;
              height: 14px;
              position: absolute;
              top: 2px;
              left: -21px;
            }
          }
          a {
            color: #000000 !important;
            cursor: pointer;
            display: block;
            font-size: 12px;
            line-height: 14px;
            position: relative;
            margin-left: 21px;
            text-decoration: underline;
            &::before{
              content: '';
              background-image: url('../img/photograph 1.svg');
              background-repeat: no-repeat;
              display: block;
              width: 12px;
              height: 12px;
              position: absolute;
              top: 1px;
              left: -21px;
            }
          }
        }
        table{
          width: 100%;
          td{
            vertical-align: top;
            &:nth-child(1){
              min-width: 100px;
            }
            &:nth-child(2){
              min-width: 110px;
            }
            &:last-child{
              max-width: 80px;
              text-align: left;
            }
          }
        }
      }
      .info-block{
        display: flex;
        align-items: center;
        //justify-content: center;
        //margin: 0 auto;
        img{
          display: block;
          max-width: 43px;
          margin: 0 17px;
        }
        p{
          font-family: Exo2;
          font-style: italic;
          font-size: 12px;
          line-height: 14px;
          span{
            font-weight: bold;
            &.red{
              color: #D32F2F;
            }
          }
        }
      }
    }
    .contact-list-map{
      width: 100%;
      .xs-block({
        flex-basis: 100px;
      });
      display: none;
      // max-width: 700px;
      // flex-basis: 700px;
      background: #FFFFFF;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
      border-radius: 7px;
      iframe{
        width: inherit;
      }
      .list-item {
        padding: 0 20px;
        font-family: Exo2;
        margin-top: 16px;
        .list-item-text {

          font-style: normal;
          color: #000000;
          font-weight: bold;
          display: flex;
          justify-content: space-between;
          margin-bottom: 12px;
          p {
            font-size: 14px;
            position: relative;
            margin-left: 21px;
            span{
              font-weight: normal;
            }
            &::before{
              content: '';
              background-image: url('../img/position.svg');
              background-repeat: no-repeat;
              display: block;
              width: 10px;
              height: 14px;
              position: absolute;
              top: 2px;
              left: -21px;
            }
          }
          a {
            color: #000000 !important;
            cursor: pointer;
            display: block;
            font-size: 12px;
            line-height: 14px;
            position: relative;
            margin-left: 21px;
            text-decoration: underline;
            &::before{
              content: '';
              background-image: url('../img/photograph 1.svg');
              background-repeat: no-repeat;
              display: block;
              width: 12px;
              height: 12px;
              position: absolute;
              top: 1px;
              left: -21px;
            }
          }
        }}
    }
    .text-vacancies{
      p, li{
        font-family: Exo2;
        font-style: normal;
        font-size: 14px;
        margin-bottom: 20px;
        &.title{
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 5px;
        }
      }
      ul{
        margin-bottom: 20px;
      }
      li{
        margin-bottom: 5px;
      }
      a{
        text-decoration: none;
        font-weight: bold;
        color: #D32F2F;
      }
      .border{
        border: 1px solid #d7dee3;
        padding: 16px;
        a#send-summary{
          font-family: Exo2;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          text-transform: uppercase;
          color: #FFFFFF;
          padding: 5px 10px;
          background-color: #D32F2F;
          &:hover{
            background-color:  #e91616;
          }
        }
      }
    }
    .blog{
      &-item{
        display: flex;
        margin-bottom: 30px;
        margin-right: 20px;
        .sm-block({
          display: block;
          margin-right: 0px;
        });
        .pic{
          margin: 0 auto;
          min-width: 300px;
          max-width: 301px;
          height: 200px;
          position: relative;
          overflow: hidden;
          border-radius: 10px;
          .sm-block({
            width: 100%;
            margin-bottom: 20px;
            min-width: 280px;
          max-width: 281px;
          });
          &:hover{
            box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.18);
          }
          img{
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

          }
        }
        .text{
          margin-left: 20px;
          font-family: Exo2;
          font-style: normal;
          font-size: 14px;
          margin-bottom: 20px;
          .title{
            font-size: 15px;
            font-weight: bold;

            color: #D32F2F;
          }
          a{
            display: block;
            margin-bottom: 10px;
            text-decoration: none;
            &:hover{
              text-decoration: underline;
              color: #000000;
            }
          }
        }
      }
    }
    .article{
      font-family: Exo2;
      font-style: normal;
      font-size: 14px;
      p{
        margin-bottom: 10px;
      }
      h3, h4, h5{
        margin-bottom: 10px;
        margin-top: 15px;
        font-weight: bold;
      }
      h3{
        font-size: 28px;
      }
      h4{
        font-size: 24px;
      }
      h5{
        font-size: 18px;
      }
      a{
        text-decoration: none;
        color: #D32F2F;
        &:hover{
          text-decoration: underline;
          color: #000000;
        }
      }
      img{
        display: block;
        width: 100%;
        text-align: center;
        margin: 20px auto 10px;
        border-radius: 30px;

      }
    }
  }
}
