.menu-container {
  margin: 20px auto;
  position: relative;
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sm-block({
      display: block;
    });
    &-left {
      .col();
      .size(6);
      .size-sm(12);
      .sm-block({
        margin: 0 auto;
      });
      &-blocks {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .xxs-block({
          margin: 0 -15px;
        });
        &-block {
          // .col();
          // .size-xs(6);
          .md-block({
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            width: 43%;
          });
          .xxs-block({
            padding: 5px;
            width: 46%;
          });
          &:hover {
            background: #d32f2f;
            p {
              color: #ffffff;
            }
            img {
              text-align: center;
              &.w {
                display: inline-block;
              }
              &.r {
                display: none;
              }
            }
          }
          img {
            .md-block({
              max-width: 30px;
            });
            .sm-block({
              max-width: 22px;
            });
            &.w {
              display: none;
            }
          }

          text-align: center;
          padding: 20px;
          background: #ffffff;
          box-shadow: 0px 0px 19px rgba(95, 95, 95, 0.11);
          border-radius: 7px;
          width: 120px;
          margin-bottom: 15px;
          p {
            margin-top: 20px;
            .md-block({
              margin: 0 0 0 10px;
              text-align: center;
              flex-basis: 80%;
            });
            font-family: Exo2;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            text-transform: uppercase;
            color: #000000;
          }
        }
      }
    }
    &-right {
      .col();
      .size(6);
      .size-sm(12);
      position: relative;
      .side-block{
        display: none;
        .md-block({
          display: block;
        });
        position: absolute;
        right: 0;
        .contain{
          background: rgba(0, 0, 0, 0.59);
          backdrop-filter: blur(5px);
          border-radius: 7px;
          padding: 10px;
          a{
            text-decoration: none;
            padding: 6px 10px;
            text-align: center;
            display: block;
            &:first-child{
              margin-bottom: 12px;
            }
            p{
              font-family: Exo2;
              font-style: normal;
              font-weight: bold;
              font-size: 6px;
              line-height: 6px;
              max-width: 30px;
            }
            &.red{
              p{
                color: #ffffff;
              }

              background: #D32F2F;
              box-shadow: 0px 0px 19px rgba(95, 95, 95, 0.11);
              border-radius: 7px;
            }
            &.white{
              p{
                color: #000000;
              }

              background: #FFFFFF;
              box-shadow: 0px 0px 19px rgba(95, 95, 95, 0.11);
              border-radius: 7px;
            }
          }
        }
      }

      p {
        font-family: Exo2;
        font-style: normal;
        color: #000000;
        &.top {
          font-weight: bold;
          font-size: 15px;
          line-height: 20px;
        }
        &.main {
          font-weight: bold;
          font-size: 25px;
          line-height: 30px;
          margin-bottom: 30px;
        }
        &.text {
          font-weight: 300;
          font-size: 12px;
          line-height: 19px;
        }
      }
      .d2 {
        margin: 17px 0;
        display: flex;
        align-items: center;
        p {
          margin: 0 17px;
        }
      }
    }
  }
}
