nav {
  z-index: 1000;
  // display: none;
  .xs-block({
    // display: none;
  });
  .nav-bg {

    background: #d32f2f;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    .sm-block({
      background: none;
      box-shadow: none;
    });
    li.main{
      position: relative;
      &:hover{
        ul.submenu{
          display: block;
        }
      }
      ul.submenu{
        &::before{
          content: '';
          border: 10px solid transparent;
          border-bottom: 10px solid  #b63131;
          position: absolute;
          top: 0px;
          left: 20px;
        }
        position: relative;
        display: none;
        z-index: 9999;
        position: absolute;
        // display: block;
        li{
          background: #b63131;
          border-top: #E5E5E5 solid 1px;
          &:first-child{
            border-top: none;
          }
          padding: 5px;
          &:hover{
            background: #922626;
          }
          a{
            color: #ffffff;
            font-family: Exo2;
            font-size: 14px;
            text-decoration: none;
            text-align: left;
            margin: 0;
            display: inline-block;
            white-space: nowrap;
          }

        }
      }
    }
    ul {

      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 20px 0;
      .md-block({
        padding: 15px 0;
      });
      .sm-block({
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 0;
      });
      li {
        .sm-block({
          background: #d32f2f;
          padding: 9px;
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
          border-radius: 7px;
          text-align: left;
          margin-bottom: 6px;
          width: 44%;
        });
        .xxs-block({
          width: 46%;
          padding: 5px;
        });
        position: relative;
        &.line{
          display: block;
          background: #E5E5E5;
          min-width: 1px;
          min-height: 30px;
          .sm-block({
            display: none;
          });
        }
        a {

          padding: 0 25px;
          .md-block({
            padding: 0 10px;
          });
          display: flex;
          align-items: center;
          justify-content: space-around;
          .sm-block({
            justify-content: start;
            padding: 0;
            // width: 100%;
          });
          text-decoration: none;
          &:hover{
            .nav-block-img{
              background: #000000;
            }
            p{
              color: #000000;
            }
          }
          .nav-block-img {
            display: block;
            min-width: 28px !important;
            height: 28px;
            background: #ffffff;
            border-radius: 50%;
            position: relative;
            margin: 0 13px;
            .md-block({
              margin: 0 8px 0 0;
            });
            .sm-block({
              margin: 0 13px 0 0;
            });
            .xxs-block({
              margin: 0 5px 0 0;
            });
            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              &.r{

              }
              &.w{
                display: none;
              }
            }
          }
          p {
            .sm-block({
              font-size: 11px;
              line-height: 12px;
            });
            font-family: Exo2;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            color: #ffffff;
          }
        }
      }
    }
  }
}
