.slider {
  .slider-block {
    .slider-block-text {
      .text-slider {
        p {
          &.main {
            font-family: Exo2;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 40px;
            color: #000000;
            span {
              font-family: Exo2;
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 12px;
              color: #ffffff;
              background: #d32f2f;
              padding: 5px 10px;
              text-transform: uppercase;
              margin-bottom: 30px;
            }
          }
        }
      }
      .small-block {
        &-title {
          font-family: Exo2;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 17px;
          text-transform: uppercase;
          color: #000000;
        }
      }
      .under {
        font-family: Exo2;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: #000000;
      }
    }
    .slider-block-slider{

    }
  }
}
