.slider {
  position: relative;
  margin-bottom: -70px;
  .sm-block({
    margin-bottom: 0px;
  });
  img.bg-pic{
    position: absolute;
    top: -200px;
    right: 300px;
    z-index: -1000;
    opacity: 50%;
    .md-block({
      display: none;
    })
  }
  img.bg-pic-2{
    position: absolute;
    z-index: -1000;
    top: -100px;
    left: 300px;
    .md-block({
      display: none;
    })
  }
  .slider-block {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: -30px;
    display: flex !important;
    align-items: center;
    .sm-block({
      margin-top: 20px;
      margin-bottom: 40px;
      margin-left: 0;
      margin-right: 0;
      display: block !important;
      // flex-direction: column;
      // align-items: flex-start;
    });
    .slider-container{
      .col();
      .size(6);
      .size-sm(12);
      position: relative;
      height: 470px;
      .md-block({
        height: 300px;
      });
      .sm-block({
        height: 150px;
      });
      .xxs-block({
        height: 170px;
      });
      .opacity{
        opacity: 1 !important;
        z-index: 1 !important;
      }
      a{
        text-decoration: none;
      }
      .slider-block-text {
        // padding-top: 30%;
        // height: inherit;
        // padding-top: 100px;
        // padding-bottom: 100px;
        padding: 70px 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        z-index: -1;
        transition: opacity 1s;
        // .col();
        // .size(6);
        // .size-sm(12);
        .text-slider {
          span.promo {
            // margin-bottom: 20px;
            font-family: Exo2;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
            color: #ffffff;
            background: #d32f2f;
            padding: 5px 10px;
            text-transform: uppercase;
            margin-bottom: 30px;
            vertical-align: text-top;
            .sm-block({
              vertical-align: middle;
            });
          }
          span.vvv{
            display: inline-block;
            margin-top: 20px;
            font-size: 16px;
            margin-bottom: 0;
          }
          ul{
            .sm-block({
              display: none;
            });
            margin-top: 18px;
            li{
              &::before{
                content: ' - ';
                display: inline-block;
              }
              p{
                margin: 0;
                display: inline-block;
                max-width: 250px;
              }
            }
          }
          p {
            display: inline-block;
            &.main {
              font-family: Exo2Bold;
              font-style: normal;
              font-weight: bold;
              font-size: 36px;
              line-height: 40px;
              color: #000000;
              // margin-bottom: 20px;
              .sm-block({
                font-size: 26px;
                line-height: 30px;
              });
              .md-block({
                font-size: 30px;
              });
            }
          }
        }
        .small-block {
          .md-block({
            display: none;
          });
          display: inline-block;
          margin-top: 50px;
          margin-right: 55px;
          max-width: 120px;
          &-title {
            font-family: Exo2Bold;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 13px;
          }
        }
        p.under {
          font-family: Exo2;
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 14px;
          color: #000000;
          margin-top: 10px;
          &-vv{
            font-size: 16px;
            font-family: Exo2;
            font-weight: bold;
            margin-top: 20px;
            color: #000000;
          }
          .sm-block({
            width: 330px;
            margin-top: 10px;
          });
          .xxs-block({
            width: 100%;
          });
        }
      }
    }
    .slider-block-slider {
      .col();
      .size(6);
      .size-sm(12);
      // z-index: 0;
      position: relative;
      .items {
        .md-block({
          height: 300px;
        });
        .sm-block({
          margin-top: 20px;
          margin-bottom: 40px;
          height: 260px;
        });
        .xs-block({
          height: 230px;
        });
        .xxs-block({
          height: 190px;
        });
        height: 470px;
        position: relative;
        a{
          // height: inherit;
          text-align: center;
          display: flex;
          padding-bottom: 100px;
          .sm-block({
            padding-bottom: 0;
          });
          .sm-block({
            height: 260px;
          });
          .xs-block({
            height: 230px;
          });
          .xxs-block({
            height: 190px;
          });
          // height: inherit;
          // z-index: -1;

          &.item {
              position: absolute;
              opacity: 0;
              transition: opacity 1s;
              z-index: -1;
            }
            &.opacity {
              opacity: 1;
              z-index: 1 !important;
            }
          img {
            z-index: -1;

          }
        }

      }
      .btn-slider {

        a {
          z-index: 1000 !important;
          text-decoration: none;
          display: block;
          position: absolute;
          top: 40%;
          transform: translateY(-50%);
          &.prev {
            left: -20px;
          }
          &.next {
            right: 0;
            .sm-block({
              right: -20px;
            });
          }
        }
      }
    }
  }
}
