@import "smart-grid.less";
@import "font.less";
// @import 'size.less';
// @import 'color.less';

.reset();
.wrapper {
  .wrapper();
}
.debug {
  // .debug(rgba(255,255,255,0.2), 1px solid #cc0000);
}
body {
  //background: #f8f8f8;
}
@import "top-line.less";
@import "header.less";
@import "nav.less";
@import "slider.less";
@import "menu.less";
@import "advantage.less";
@import "description.less";
@import "player.less";
@import "consultation.less";
@import "top-clients.less";
@import "map.less";
@import "footer.less";

@import 'services.less';

@import "slick.less";
@import "slick-theme.less";

//mobile
@import "header_mobile.less";

//item_page
@import "service.less";
@import "offer.less";
@import "maybe-interes.less";
@import "price-list.less";

//contact_page
@import "contact-list.less";
@import "three-bock.less";

// main elements

.btn-order-online {
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    &:hover {
      p {
        background: #d02f2f;
      }
    }
    p {
      .xs-block({
        font-size: 12px;
        padding: 7px 27px 7px 10px;
        white-space: nowrap;
      });
      display: block;
      font-family: Exo2;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: #ffffff;
      background: #000000;
      border-radius: 7px;
      padding: 8px 32px 8px 12px;
      .xxs-block({
        font-size: 10px;
        padding: 3px 25px 3px 8px;
      });
    }
    img {
      display: block;
      margin-left: -20px;
      .xs-block({
        max-width: 38px;
      });
      .xxs-block({
        max-width: 30px;
      });
    }
  }
}
.phone {
  p {
    font-family: Exo2;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
    .xs-block({
      line-height: 24px;
    });
    .xxs-block({
      font-size: 10px;
    });
  }
  .number {
    display: flex;
    align-items: center;
    img {
      display: block;
      margin: 0 5px;
      .xs-block({
        max-width: 14px;
        white-space: nowrap;
      });
      .xxs-block({
        margin: 0 2px 0px 0;
        max-width: 12px;
      });
    }
    a {
      .xs-block({
        font-size: 16px;
        line-height: 19px;
      });
      .xxs-block({
        font-size: 13px;
      });
      display: block;
      text-decoration: none;
      font-family: Exo2;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      text-align: right;
      color: #000000;
    }
  }
}
.btn-order-online-rigth {
  &:hover {
    p {
      background: #d32f2f;
    }
  }
  .xxs-block({
    margin: 20px 0 20px 10px;
  });
  margin: 30px 0;
  text-decoration: none;
  font-family: Exo2;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  img {
    display: block;
    margin-right: -40px;
    z-index: 10;
    transform: scale(1.2);
    .xxs-block({
      max-width: 40px;
    });
  }
  p {
    display: block;
    background: #000000;
    padding: 13px 50px 13px 80px;
    border-radius: 7px;
    .xxs-block({
      padding: 8px 20px 8px 60px;
    });
  }
}
table {
  width: 100%;
  font-size: 12px;
  margin: 10px 0;
  border-collapse: collapse;
  // border-collapse: separate;
  // border: 1px solid #E5E5E5;
  th,
  td {
    padding: 9px;
    border: 1px solid #e5e5e5;
    // text-align: center;
    a {
      text-decoration: none;
      color: #000000;
    }
    span {
      font-weight: bold;
    }
    img {
      display: block;
      margin: 3px auto;
      padding: 4px;
      background: #f7f7f7;
      border-radius: 7px;
    }
  }
  tr {
    td {
      &:first-child {
        border-left: none;
        border-top: none;
      }
      &:last-child {
        border-right: none;
        border-top: none;
        max-width: 80px;
      }
    }
  }

  tr:last-child {
    td {
      border-bottom: none;
    }
  }
  tr:first-child {
    background: #d02f2f;
    border-radius: 7px;
    color: #ffffff;
    font-weight: bold;
    th {
      border-top: none;
      border-bottom: none;
      &:first-child {
        border-radius: 7px 0 0 7px;
        border: none;
      }
      &:last-child {
        border-radius: 0 7px 7px 0;
        border: none;
      }
    }
  }
}
.side-menu {
  //contact_ & item_  page
  // max-width: 260px;
  // min-width: 240px;
  width: 260px;
  .md-block({
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
  });
  .sm-block({
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 0;
    margin-top: 10px;
  });
  margin-left: 18px;
  a {
    width: inherit;
    .md-block({
      max-width: 16%;
      font-size: 12px;
      padding: 10px;
    });
    .sm-block({
      min-width: 49%;
      font-size: 15px;
      padding: 0;
      // margin: 5px;
    });
    .xxs-block({
      font-size: 12px;
    });
    text-decoration: none;
    font-family: Exo2;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
    background: #ebebeb;
    border-radius: 7px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    img {
      display: block;
      padding: 13px;
      .md-block({
        padding: 0 10px 0 0;
      });
      .sm-block({
        padding: 13px;
      });
      .xxs-block({
        padding: 10px;
      });
    }
  }
}
.title-tabs {
  // margin-bottom: 5px;
  display: flex;
  .xxs-block({
    display: block;
    margin: 10px 0;
  });
  .xs-block({
    margin-top: 10px;
  });

  a {
    .xs-block({
      &:first-child{
        min-width: 85px;
      }
      &:nth-child(2){
        max-width: 130px;
      }
      // min-width: 29%;s
      padding: 5px;
    });
    .xxs-block({
      min-width: 100%;
      padding: 10px 5px;
    });
    z-index: 10;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 7px;
    p {
      font-family: Exo2;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #000000;
      opacity: 0.4;
    }
    img {
      display: block;
      margin-right: 10px;
      &.active {
        display: none;
      }
    }
    &.active {
      p {
        color: #d32f2f;
        opacity: 1;
      }
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
      img {
        &.active {
          display: inline-block;
        }
        &.passive {
          display: none;
        }
      }
    }
  }
}
.path {
  margin: 11px 0;
  font-family: Exo2;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  color: #d02f2f;
  span {
    color: #000000;
    font-weight: normal;
  }
  a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

.select {
  cursor: pointer;
  .xs-block({
    width: 140px;
  });
  .xxs-block({
    padding: 2px 0 2px 30px;
  });
  // width: 200px;
  position: relative;
  text-align-last: left;
  padding: 5px 0 5px 30px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 40px;
  background: url("../img/Vector-contact.svg") no-repeat;
  background-position: 10px 49%;
  width: 170px;
  // z-index: 10;
  // font-weight: normal;
  line-height: 13px;

  font-style: italic;
  font-weight: normal;

  color: #000000;
  // overflow: hidden;

  &__current {
    cursor: pointer;
    overflow: hidden;
    font-family: Exo2;
    font-size: 12px;
    line-height: 14px;
    font-style: italic;
    width: 100%;
    color: #c5c5c5;
    // color: #000000;
    background: #ffffff;
    border: none;
    width: 130px;
    .xs-block({
      width: 100px;
    });
    white-space: nowrap;
    text-overflow: ellipsis;
    // border: 1px solid @border-color;
    // padding: @padding;
    // border-radius: @border-radius;
    position: relative;
    // cursor: pointer;
    // box-shadow: 0 0 5px 3px rgba(#ccc, .2);
    // background-color: darken(@light, 30);
    // &::after{
    // 	content: '';
    // 	position: absolute;
    // 	// right: @padding;
    // 	top: 50%;
    // 	transform: translateY(-50%);
    // 	width: 0;
    //   height: 0;
    &::after {
      content: "";
      background-image: url(../img/select-arrow.svg);
      background-repeat: no-repeat;
      width: 9px;
      height: 9px;
      cursor: pointer;
      position: absolute;
      top: 40%;
      right: 0;
    }
    &:focus {
      outline: none;
    }
    // border-style: solid;
    // border-width: (@padding / 2) (@padding / 2) 0 (@padding / 2);
    // border-color: #000 transparent transparent transparent;
    // }
  }

  &__list {
    cursor: pointer;
    font-family: Exo2;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    display: block;
    width: 100%;
    // overflow: hidden;
    border: 1px solid #e5e5e5;
    margin-top: 5px;
    border-radius: 13px;
    display: none;
    &--show {
      // top: -10px;
      cursor: pointer;
      left: 0;
      display: block;
      position: absolute;
      z-index: 10;
    }
  }

  &__item {
    // &:first-child{
    //   padding-top: 35px;
    // }
    cursor: pointer;
    background: #ffffff;
    font-family: Exo2;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    font-size: 11px;
    .little {
      font-size: 9px;
    }
    padding: 5px 15px;
    cursor: pointer;
    border: none;
    display: inline-block;
    width: 100%;
    &:hover,
    &:focus {
      background-color: #d02f2f;
      color: #ffffff;
    }
  }
}

.bg-mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.59);
  backdrop-filter: blur(5px);
  .mobile-menu {
    // margin-top: 20px;
    // display: none;
    display: inline-block;
    background: #d02f2f;
    border-radius: 7px;
    // margin-top: 20px;
    position: absolute;
    top: 5%;
    left: 25%;
    .xxs-block({
    top: 2%;
    left: 15%;
  });
    // right: -25px;
    position: relative;
    .top {
      padding: 25px 25px 19px 28px;
      border-bottom: #ffffff 1px solid;
      .input-block {
        margin: 0 5px;
        label {
          display: block;
          font-family: Exo2;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          color: #ffffff;
          padding: 5px 10px;
        }
        input {
          font-family: Exo2;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          color: #000000;
          border: 1px solid #e5e5e5;
          box-sizing: border-box;
          border-radius: 40px;
          padding: 5px 0 5px 30px;

          background: #ffffff;
          min-width: 200px;
          &:focus {
            border: 1px solid #e5e5e5;
            box-sizing: border-box;
            border-radius: 40px;
          }
          // &::before{
          //   content: '';
          //   background: url('../img/search.svg') no-repeat;
          //   width: 20px;
          //   height: 20px;
          //   z-index: 100;
          // }
          &#search_m {
            // background: url('../img/search.svg') no-repeat;
            background-position: 10px 49%;
            max-width: 145px;
          }
          &::-webkit-input-placeholder {
            color: #c5c5c5;
            font-style: italic;
          }
          &::-moz-placeholder {
            color: #c5c5c5;
            font-style: italic;
          }
        }
      }
      .close {
        position: absolute;
        top: 0;
        right: 0;
        background: #000000;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
        border-radius: 7px;
        // width: 38px;
        // height: 38px;
        // position: relative;
        a {
          display: block;
          padding: 11px 12px 8px 12px;
        }
      }
    }
    .list {
      ul {
        padding: 25px;
        li {
          margin-bottom: 18px;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            text-decoration: none;
            font-family: Exo2;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #ffffff;
          }
        }
      }
    }
  }
}

.side-block-2 {
  position: fixed;
  right: -160px;
  top: 50%;
  transform: rotate(-90deg);
  .md-block({
    display: none;
  });
  .contain {
    display: flex;
    a {
      display: block;
      text-decoration: none;
      padding: 15px 20px;
      text-align: center;
      display: flex;
      align-items: center;

      p {
        font-family: Exo2;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 30px;
        margin-left: 19px;
        text-transform: uppercase;
      }
      &.red {
        p {
          color: #ffffff;
        }
        padding-left: 30px;
        background: #d32f2f;
        box-shadow: 0px 0px 19px rgba(95, 95, 95, 0.11);
        border-radius: 7px 7px 0 0;
      }
      &.white {
        margin-right: -15px;
        z-index: 1;
        p {
          color: #000000;
        }
        background: #ffffff;
        box-shadow: 0px 0px 19px rgba(95, 95, 95, 0.11);
        border-radius: 7px 7px 0 0;
      }
    }
  }
}

.bg-pay-inline {
  // display: none;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.59);
  position: fixed;
  height: 100vh;
  width: 100%;

  // overflow-x: scroll;
  .online-pay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 90vh;
    overflow-x: hidden;
    .sm-block({
      width: 350px;
      height: 90vh;
      overflow-x: hidden;
    });
    .top-noitems {
      align-items: flex-start !important;
    }
    .top {
      position: relative;
      display: flex;
      align-items: center;
      padding: 30px;
      .sm-block({
        padding: 20px;
      });
      background: #eaf0f2;
      p.title-under {
        font-family: Exo2;
        font-style: normal;
        color: #555;
        margin-left: 15px !important;
        font-size: 14px;

        margin-top: 10px;
      }
      .pic-phone {
        min-width: 54px;
        height: 54px;
        background: #d02f2f;
        margin-right: 10px;
        img {
          padding: 12px 13px;
          width: 30px;
        }
      }
      .pic {
        width: 54px;
        height: 54px;
        background: #d02f2f;
        position: relative;
        flex-basis: 54px;
        .sm-block({
          width: 34px !important;
          height: 40px !important;

        });
        img {
          .sm-block({
            width: 60%;
            margin: 0 auto;
            text-align: center;
            display: block;
          });
          padding: 5px 5px;
          width: 80%;
        }
      }
      .close-pay {
        position: absolute;
        top: 30px;
        right: 30px;
        &:hover {
          img.red {
            display: inline-block;
          }
          img.grey {
            display: none;
          }
        }
        img {
          width: 20px;
          &.red {
            display: none;
          }
        }
      }
      h2 {
        font-family: Exo2;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 25px;
        color: #000000;
        margin-left: 15px !important;
        .sm-block({
          font-size: 20px;
          max-width: 200px;
        });
      }
    }
    .bottom {
      padding: 30px;
      background: #ffffff;
      .sm-block({
        padding: 20px;
      });
      p {
        font-family: Exo2;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 25px;
        color: #000000;
        margin-bottom: 20px;
        .sm-block({
          font-size: 14px;
          line-height: 20px;
        });
      }
      span {
        color: #d02f2f;
        font-weight: bold;
        font-size: 18px;
      }
      form {
        .input-main-noflex {
          display: block !important;
          .input-block {
            margin-bottom: 15px;
            width: 100% !important;
            input {
              width: 96% !important;
            }
          }
        }
        .input-main {
          margin-bottom: 20px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .sm-block({
          display: block;
        });
          .input-block-3 {
            .col();
            // .size(4) !important;
          }
          .input-block,
          .input-block-3 {
            margin-left: 0 !important;
            margin-right: 0 !important;
            margin-bottom: 10px !important;
            a {
              text-decoration: none;
              span {
                font-size: 14px;
              }
            }
            .col();
            .size(6);
            .size-sm(12);
            label {
              font-family: Exo2;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 25px;
              color: #000000;
              display: block;
            }
            p#capcha {
              cursor: pointer;
              display: inline;
              font-family: Exo2;
              font-style: normal;
              font-weight: normal;
              border-bottom: 1px #d02f2f dotted;
              color: #d02f2f;
              font-size: 12px;
              line-height: 14px;
              &:hover {
                color: #000000;
                border-bottom: 1 #000000 dotted;
              }
            }
            input#readonly {
              background-color: #cfcfcf;
            }
            input[type="text"],
            input[type="textarea"] {
              position: relative;
              .sm-block({
              width: 100%;
            });
              width: 90%;
              border-radius: 2px;
              box-shadow: none;
              border: 1px solid #d7dee3;
              height: 34px;
              padding: 0px 12px;
              font-family: Exo2;
              font-size: 14px;
              line-height: 15px;
              &:focus {
                outline: #a3a2a2;
              }
            }
            .warning {
              position: absolute;
              // display: none;
              font-family: Exo2;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 15px;
              color: #d02f2f;
              margin: 0;
            }
          }
        }
        .btn {
          display: flex;
          justify-content: space-between;
          button {
            cursor: pointer;
            &:focus,
            &:active {
              outline: none;
            }
            border: none;
            text-decoration: none;
            text-transform: uppercase;
            font-family: Exo2;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 25px;
            color: #ffffff;
            background-color: #c21f13;
            font-size: 13px;
            padding: 10px 18px 10px;
          }
        }
        .delivery {
          .radio {
            display: flex;
            .sm-block({
            display: block;
          });
            &-block {
              .col();
              .size(6);
              .size-sm(12);
              label {
                font-family: Exo2;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 25px;
                color: #000000;
                margin-left: 10px;
                cursor: pointer;
              }
            }
          }
          .choose {
            margin-top: 10px;
            margin-bottom: 20px;
            select {
              width: 100%;
              border-radius: 2px;
              border: 1px solid #d7dee3;
              height: 34px;
              padding: 0px 12px;
              font-family: Exo2;
              font-size: 14px;
              line-height: 15px;
              &:focus {
                outline: #a3a2a2;
              }
            }
          }
          .address {
            display: none;
            margin-top: 10px;
            margin-bottom: 20px;
            input[type="text"] {
              width: 96%;
              border-radius: 2px;
              box-shadow: none;
              border: 1px solid #d7dee3;
              height: 34px;
              padding: 0px 12px;
              font-family: Exo2;
              font-size: 14px;
              line-height: 14px;
              &:focus {
                outline: #a3a2a2;
              }
            }
          }
        }
        .file-block {
          cursor: pointer;
          margin-bottom: 5px;
          input[type="file"] {
            cursor: pointer;
            &:hover {
              cursor: pointer;
            }
          }
          #file,
          #file-123 {
            &:hover {
              cursor: pointer;
            }
            // display: none;
            position: absolute;
            top: 0px;
            right: 0;
            width: 34px !important;
            height: 34px !important;
            opacity: 0;
            cursor: pointer;
            display: block;
          }

          .d-flex {
            display: flex;

            .sdfsdg {
              position: relative;
              // .pic-accept{
              //   display: none;
              //   position: absolute;
              //   top: 50%;
              //   transform: translateY(-50%);
              //   left: -27px;
              //   background: url(../img/yes.png);
              //   background-repeat: no-repeat;
              //   background-position: center;
              //   // background: #05d331;
              //   border-radius: 50%;
              //   color: #ffffff;

              //   display: block;
              //   width: 20px;
              //   height: 20px;
              //   z-index: 1000;
              // }
            }

            .btn {
              cursor: pointer;
              background: #c21f13;
              border: none;
              border-radius: 0;
              width: 100px;
              box-sizing: border-box;
              padding: 8px 9px;
              color: #fff;
              font-size: 15px;
              vertical-align: middle;
              text-transform: uppercase;
              margin-left: 1rem;
              max-height: 34px;
              max-width: 34px;
              img {
                max-width: 17px;

                // padding: 7px;
              }
            }
          }
          .accept-bg{
            // background: url(../img/yes.png);
            background: url(../img/circle-with-check-symbol.png);
            background-repeat: no-repeat;
            background-size: 20px;
            background-position: 7px 50%;
          }
          input.file-name {
            width: 100%;
            border-radius: 2px;
            box-shadow: none;
            border: 1px solid #d7dee3;
            height: 34px;
            // padding: 12px 0px 12px 20px !important;
            padding-left: 35px !important;
            font-family: Exo2;
            font-size: 14px;
            line-height: 15px;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              background: #000000;
              display: block;
              width: 20px;
              height: 20px;
              z-index: 1000;
            }
            &:focus {
              outline: #a3a2a2;
            }
          }

        }
      }
    }
  }
}
.rotate {
  transform: rotate(45deg);
}

.pay-online {
  display: none;
}
.mail-to-director {
  display: none;
}
.order-online-1 {
  display: none;
}
.ask-question {
  display: none;
}
.summary {
  display: none;
}


#p-order-number, #p-sum,
#p-md-name, #p-md-phone, #p-md-mail,
#p-oo-name, #p-oo-surname, #p-oo-phone, #p-oo-mail, #p-oo-file,
#p-q-name, #p-q-phone,
#p-summary-name, #p-summary-phone, #p-summary-mail, #p-summary-file{
  display: none;
}
